/* General resets for consistent styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  color: #555;
  font-size: 16px;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-header {
text-align: center;
margin-top: 0;
max-width: 100%;
height: auto;
position: relative;
z-index: 1;
}

footer {
color: #fff;
font-size: 14px;
text-align: center;
position: absolute;
bottom: 0;
}


.content {
  width: 90vw;
  max-width: 1300px;
  background-color: #00000049;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#map-container {
  width: 100%;
  height: 500px;
  border-radius: 6px;
  overflow: hidden;
}

/* Set Legend Style */
.legend {
  padding: 6px 8px;
  font-size: 14px;
  background: black;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

a {
color: #ffffff;
}

a:visited {
color: #ffffff;
}

a:hover {
color: #2e90ff;
}

a:active {
color: #2e90ff;
}

/*Star Background*/
#layout {
color:transparent;
height:600px;
width:100%;
height:100%;
}
.stars {
z-index: 0;
position: absolute;
background-image: url(   https://www.manufosela.es/shooting_stars/hori.png), url( https://www.manufosela.es/shooting_stars/stars_5.png);
background-repeat: repeat-x, repeat-x repeat-y;
transform:translate3D(0em, 0em, 0);
animation: stars 21s ease;
transform-style: preserve-3d;
}
