/* Apply general styles to your page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .content {
    display: flex; /* Use flexbox to arrange containers */
  }

  #map-container {
    flex: 1; /* Let the map container expand to fill available space */
    height: 500px; /* Set the map container height as needed */
  }

  #other-visualization-container {
    flex: 1; /* Let the other visualization container expand to fill available space */
    height: 500px; /* Set the height as needed */
  }
  /* Set Legend Style */
  .legend {
    padding: 6px 8px;
    font-size: 14px;
    background: black;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }

  .legend i {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
  }
